/* ---------
    RESET
---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}


.mobile-menu{
    display: none;
}
/* ---------
  TYPOGRAPHY
---------- */

body{
    font-family: "Open Sans", sans-serif;
}

header{
    padding: 15px 0;
    color: #fff;
}
#intro{
    padding: 2.5rem 0;
    margin-bottom: 2rem;
}
#testimonials .container> h1{
    font-size: 30px;
}
#intro .card{
    padding: 30px 20px;
    padding-bottom: 0;
}

#intro .card >i.icon-card-header{
    font-size: 5rem;
    margin-bottom: 20px;
}



#intro h3, .icon-card-header{
    color: #0084fd;
}
#intro p{
    margin: 2rem 0;
}
#testimonials .uppercase{
    font-size: 16px;
}
/* ---------
  HEADER
---------- */


header img{
    max-height: 80px;
}

header ul{
    display: flex;
    gap:30px;
}

/* ---------
  /HEADER
---------- */

/* ---------
  Main
---------- */
#intro .container{
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 ;
    justify-content: space-between;
}

#intro .col:not(:first-child){
    width: calc(100% / 3 - 15px);
    text-align: center;
}
#intro .col:first-child{
    width: calc(100% / 3 * 2 - 15px);

}


#intro .side-left{
    text-align: left;
    width: 50%;
}

#intro .side-right{
    align-self: flex-end;
    width: 50%;
    padding-top: 2rem;
} 


#intro .side-right img{
    width: 80%;
    display: block;

}
#intro .card>i{
    font-size: 30px;
}
#planning .container-small{
    gap:30px;
    line-height: 1.5rem;
}
#planning .col{
    width: 50%;
}
#planning .text-container{
    margin-top: 2rem;
    color: #fff;
}
#planning .col .img-container{
    width: 100%;
    margin: 1.3rem 0;
    
}
#planning .img-container img{
    width:60%
}

#planning h2{
    margin-top: 2rem;
    margin-bottom: 1.3rem;
}
#planning p{
    font-size: 14px;
    margin: 1.3rem 0;
}

#planning .card{
    align-self: flex-end;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 80%;
}
#planning .card img{
    width: 40%;
}
#testimonials .container >*{
    text-align: center;
}
#testimonials .card{
    text-align: left;
    padding: 25px;
    padding-left: 10px;
    align-items: center;
    color: #fff;
    background-color: #9792e4;
    margin-top: 2rem;
}

#testimonials img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .text-container{
    margin-left: 1.5rem;
    line-height: 1.5rem;
}
#testimonials p{
    margin-bottom: 1rem;
    padding: 0 10px;
}

#testimonials .container> h1{
    margin: 20px 0;
    color:#9792e4;
}
#testimonials .uppercase{
    margin-top: 2rem;
}

/* -------
    SECTION
------- */
#planning{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
#testimonials{
    padding: 40px 0;
}
/* ---------
  CONTAINERS
---------- */
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container-small{
    max-width: 900px;
    margin: 0 auto;
}

/* ---------
  UTILITY
---------- */
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.space-bw{
    justify-content: space-between;
}

.gap{
    gap: 5px;
}

.align-i-cent{
    align-items: center;
}

button{
    border-radius: 25px;
}

.btn-small{
    padding: 8px;
    border: none;
}

.btn-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #9792e4;
    border: none;
}
.btn-big{
    padding: 10px 40px;
    border: none;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.btn-white{
    background-color: #fff;
}
.btn-blue{
    background-color: #0084fd;
    color: #fff;
}

.card{
    border-radius: 20px;
    background-color: #b5ddff;

}
.uppercase{
    text-transform: uppercase;
}
/* ---------
  BACKGROUNDS
---------- */
header{
    background-color: #0084fd;
}
section:nth-child(even){
    background-color: #9792e4;
}

@media screen and (max-width:992px){
    .mobile-menu{
        display: block;
    }

    header .container{
        padding: 0 10px;
    }
    #intro > .container{
        padding: 0 10px;
    }

    header ul{
        display: none;
    }
    #planning .container-small.flex{
        flex-wrap:wrap;
        text-align:center;
        padding: 0 10px
    }
    #planning .col{
        width:100%;
        justify-content: center;
    }
    #planning .card {
        width: 100%;
    }
    #testimonials .container{
        padding: 0 10px;
        

    }
}

@media screen and (max-width: 768px) {
    #intro .col:not(:first-child){
        width: 100%;
    }

    #intro .col:first-child{
        width: 100%;
        flex-wrap: wrap;
    }
    #intro .side-left{
        width: 100%;
        text-align: center;
        
    }

    #intro .side-right{
        width: 100%;
        display: flex;
        
    
    }
    
    
    #intro .col>p{
        text-align: center;
    }

    #testimonials .card{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 25px
    }
    #testimonials .card > * {
        margin:0;
        padding: 0;
    }
   

}